* {
  margin: 0px;
  padding: 0;
}
.baris-1,
.baris-4 {
  display: block;
  align-content: center;
  text-align: center;
  width: 1500px;
  height: 700px;
  background-color: rgb(214, 175, 45);
}
.baris-2 {
  display: block;
  align-content: center;
  text-align: center;
  width: 1500px;
  height: 300px;
}
.baris-3 {
  display: block;
  align-content: center;
  text-align: center;
  width: 1500px;
  height: 450px;
  background-color: rgb(61, 134, 168);
  color: white;
}
.baris-5 {
  display: block;
  align-content: center;
  text-align: center;
  width: 1500px;
  height: 1000px;
}
.baris-6 {
  display: block;
  align-content: center;
  text-align: center;
  width: 1500px;
  height: 300px;
  background-color: rgb(61, 134, 168);
  color: white;
}
.baris-7 {
  position: absolute;
  width: 1500px;
  height: 700px;
  background-color: rgb(214, 175, 45);
}
.judul {
  position: absolute;
  width: 1500px;
  height: 700px;
  display: block;
  align-content: center;
  text-align: center;
}
.gambar img {
  width: 1500px;
  height: 700px;
  background-color: aliceblue;
}
.lingkaran {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
  margin-bottom: 20px;
}
.menu {
  display: flex;
  justify-content: space-around;
}
.jendela {
  margin: auto;
  width: 1000px;
  height: 750px;
  background-color: aqua;
}
.bingkai {
  display: flex;
  width: 1000px;
  height: 375px;
  background-color: black;
}
.kaca img {
  background-color: aliceblue;
  width: 500px;
  height: 375px;
}
.hitam {
  padding: 10px;
  background-color: black;
  color: white;
}
.putih {
  padding: 10px;
  background-color: white;
  color: black;
}
.tambah {
  position: absolute;
  left: 650px;
  top: 475px;
}
.tombol {
  margin: auto;
  width: 155px;
  display: flex;
  justify-content: space-between;
}
.bulet {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(75, 75, 250);
}
.peta img {
  position: absolute;
  width: 1500px;
  height: 500px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
h3 {
  font-size: 35px;
}
h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h6 {
  color: yellow;
}
p {
  text-align: center;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
